<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="org.zhe.framework.test.bean.UserDao"/>

    <bean id="userService" class="org.zhe.framework.test.bean.UserService">
        <property name="uId" value="10001"/>
        <property name="company" value="Company"/>
        <property name="location" value="SanJose"/>
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean class="org.zhe.framework.test.common.MyBeanPostProcessor"/>
    <bean class="org.zhe.framework.test.common.MyBeanFactoryPostProcessor"/>

</beans>
